{% extends 'bgc_app/base.html' %}

{% block page_header %}
<h3>{{ game }}</h3>
{% endblock page_header %}

{% block content %}

<ul>
    {% for game in games %}
    <h4>
        <a href="{% url 'bgc_app:details' game.id %}">{{ game }}</a>
    </h4>
    <div class="card mb-3">
        <p class="card-header">
            {{ game.date_added|date:'M d, Y H:i' }}
        </p>
        <div class="card-body">
            Original owner:  {{ game.ownerfield|linebreaks }}
            Current owner: {{ game.currentowner|linebreaks }}
        </div>
    
    </div>
    {% empty %}
    <p>There are no games for this game yet.</p>
    {% endfor %}
</ul>
<h3>
<a href="{% url 'bgc_app:new_game' %}">Add a new game</a>
</h3>
    {% endblock content %}